
#home-bg1,#home-bg2,#home-bg3,#home-bg4,#home-bg5{
  width: 100%;height:45vw;
}
#home-bg1{
  background: url(../img/homepage/eg1.jpg) no-repeat center/100% 100%;
}
#home-bg2{
  background: url(../img/homepage/eg2.jpg) no-repeat center/100% 100%;
}
#home-bg3{
  background: url(../img/homepage/eg3.jpg) no-repeat center/100% 100%;
}
#home-bg4{
  background: url(../img/homepage/eg4.jpg) no-repeat center/100% 100%;
}
#home-bg5{
  background: url(../img/homepage/eg5.jpg) no-repeat center/100% 100%;
}
.slide1-content{
  text-align: center;
  padding:20% 0;
  width: 100%;
}
.slide1-content h1,.slide1-content h2,.slide1-content h3{
  line-height: 1.4;
  color: #646464;
}
.slide1-content h2{
  font-size: 3em;font-weight: 400;
  letter-spacing: 1em;
}
.slide1-content h1{
  font-size: 3.15em;
  margin-left: -1em;
}
.slide1-content h3{
  color: #b3b3b3;
  font-size: 2.1em;
  margin-left: -1.2em;
  margin-bottom: 1em;
}
.slide1-content div{
  display: inline-block;
  margin-left: -6%;
}

 section.float-word{
  background: linear-gradient(to right,transparent,rgba(0, 0, 0, .1)) ;
  width: 100%;
  border-radius: 20px;
  color: white;
  padding: 20px;
  margin-top: 30vh;
}
#home-bg3 section{
  background: linear-gradient(to left,transparent,rgba(0, 0, 0, .1)) ;
}
section.float-word h1{
  font-size: 1.6em;
}
section.float-word h2{
  font-size: 1.4em;
}
section.float-word h3{
  font-size: 1.2em;
}
section.float-word h1,section.float-word h2, section.float-word h3{
  display: inline-block;
  line-height: 2.4em;
}
section.float-word p{
  font-size: 1em;
  text-align: justify;
}


@media screen and (max-width: 768px) {
  #home-bg1,#home-bg2,#home-bg3,#home-bg4,#home-bg5{
    width: 100%;height:80%;
  }
  #home-bg1{
    background: url(../img/homepage/eg1-small.jpg) no-repeat center/100% 100%;
  }
  #home-bg2{
    background: url(../img/homepage/eg2-small.jpg) no-repeat center/100% 100%;
  }
  #home-bg3{
    background: url(../img/homepage/eg3-small.jpg) no-repeat center/100% 100%;
  }
  #home-bg4{
    background: url(../img/homepage/eg4-small.jpg) no-repeat center/100% 100%;
  }
  #home-bg5{
    background: url(../img/homepage/eg5-small.jpg) no-repeat center/100% 100%;
  }
  section.float-word h1,section.float-word h2, section.float-word h3{
    line-height: 1;
  }
  .slide1-content{
    padding: 0;
    line-height: 1;
  }
  .slide1-content h1,.slide1-content h2,.slide1-content h3{
    margin:0;
  }
  .slide1-content h3,.slide1-content h1{
    margin-left: -1.1em;
  }
  .slide1-content div{
    margin-right: 5%;
  }
}