html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.picture img {
	width: 100px;
	height: 37px;
}

.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-container-vertical>.swiper-pagination-bullets {
	right: 25px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-position: center;
	background-size: cover;
}

.item {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.section3 {
	background: url("../img/bg3.jpg") no-repeat center/100% 100%;
}

.item5 {
	background: url("../img/bg4.jpg") no-repeat center/100% 100%;
}

.slide1 {
	background: url("../img/bg-cj1.jpg") no-repeat center/100% 100%;
}

.slide2 {
	background: url("../img/bg-cj2.jpg") no-repeat center/100% 100%;
}

.slide3 {
	background: url("../img/bg-cj3.jpg") no-repeat center/100% 100%;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #0068B7;
}

.item .container {
	position: absolute;
	/*width: 100%;*/
	height: 100%;
	/*padding-top: 60px;*/
	top: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	z-index: 10;
	display: table;
}

.item1 {
	margin-top: 60px;
}

.item .container .row {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: table-cell;
}

.superprodetext {
	color: white;
	margin-top: 340px;
	font-size: 20px;
	letter-spacing: 1px;
	margin-left: 175px;
}

.superprodetext p {
	font-size: 16px;
	text-align: left;
	line-height: 30px;
}

.superprodetext img {
	width: 200px;
	display: inherit;
	height: 60px;
	animation-delay: 1s;
	text-align: left;
	margin-bottom: 25px;
}

.superprodeimg img {
	width: 100%;
	/*height: 100vh;*/
}

.item2text {
	/*width: 400px;*/
	color: white;
	margin-top: 200px;
}

.item2text h2 {
	margin: 40px auto;
	text-align: right;
	letter-spacing: 2px;
	font-size: 34px;
}

.item2text p {
	letter-spacing: 2px;
	line-height: 33px;
	text-align: left;
	font-size: 16px;
}

.item3 h2 {
	text-align: left;
	color: white;
	margin-top: 94px;
	letter-spacing: 2px;
	font-size: 34px;
}

.item3 img {
	width: 86%;
	margin-top: 15%;
}

.item3 div {
	font-size: 24px;
}

.item3text {
	text-align: left;
	color: white;
	margin-top: 200px;
	/*width: 287px;*/
	/*margin-left: 195px;*/
}

.item3text div {
	letter-spacing: 2px;
	font-size: 24px;
}

.item3text .text {
	font-size: 16px;
	line-height: 30px;
}

.item3text div span img {
	width: 38px;
	height: 38px;
	margin: 20px 20px 20px 0;
}

.screen {
	text-align: left;
}

.screen h2 {
	margin-top: 109px;
	letter-spacing: 4px;
	margin-left: 9px;
	font-size: 34px;
	margin-bottom: 50px;
}

.screentext h3 {
	width: 76%;
	line-height: 40px;
	text-align: center;
	letter-spacing: 2px;
	text-align: center;
	margin: 10px auto;
	font-size: 24px;
}

.screentext p {
	font-size: 16px;
	width: 90%;
	line-height: 33px;
	margin: 0 auto;
}

.screenbtn {
	/* border: 1px solid #000000; */
	width: 141px;
	height: 49px;
	margin: 44px auto;
}
.screenbtn a{
	display: block;
	width: 141px;
	height: 49px;
	color: #ffffff;
	background-color: #50a8df;
	text-align: center;
	line-height: 49px;
	border-radius: 10px;
	text-decoration: none;
}
.screenbtn a:hover{
	background-color: #58b7f1;
}
.screenbtn a:active{
	background-color: #52a6da;
}
.about {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	/*width: 72%;*/
}

.about h2 {
	margin: 0 auto 40px;
	font-size: 34px;
	padding-top: 80px;
	letter-spacing: 5px;
	font-size: 34px;
}

.about p {
	width: 100%;
	line-height: 30px;
	font-size: 16px;
	letter-spacing: 4px;
}

.nav li a {
	font-size: 16px;
}

.navbar-fixed-top .navbar-collapse {
	max-height: 340px;
	min-height: 64px;
}

.yuan {
	width: 10px;
	height: 10px;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 20px 0;
	display: block;
}

.swiper-pagination-bullet {
	width: 14px;
	height: 14px;
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
	.item3 img {
		width: 80%;
	}
}

@media screen and (min-width: 768px) {
	.section2 {
		background: url(../img/bg2.jpg) no-repeat center/100% 100%;
	}
	.section1 {
		background: url(../img/bg1.jpg) no-repeat center /100% 100%;
	}
}

@media screen and (max-width: 768px) {
	
	.picture img {
		width: 71px;
		height: 35px;
	}
	.section1 {
		background: url(../img/bg1.jpg) no-repeat center /auto 100%;
	}
	.section2 {
		/*background: url(./img/bg2.jpg) no-repeat center /auto 100%;*/
		background: url(../img/bg2.jpg) no-repeat center/auto 100%;
	}
	.item1 {
		background: url(../img/bg1.jpg) no-repeat center /auto 100%;
	}
	.item2 {
		/*background: url(./img/bg2.jpg) no-repeat center /auto 100%;*/
		background: url(../img/bg2.jpg) no-repeat center/auto 100%;
	}
	.item2text h2 {
		font-size: 28px;
		margin: 45px auto;
		text-align: right;
		letter-spacing: 2px;
	}
	.item3 {
		background: url("../img/bg3.jpg") no-repeat center/auto 100%;
	}
	.slide1 {
		background: url("../img/bg-cj1.jpg") no-repeat center/auto 100%;
	}
	.slide2 {
		background: url("../img/bg-cj2.jpg") no-repeat center/auto 100%;
	}
	.slide3 {
		background: url("../img/bg-cj3.jpg") no-repeat center/auto 100%;
	}
	.item5 {
		background: url("../img/bg4.jpg") no-repeat center/auto 100%;
	}
	.superprodeimg img {
		    display: block;
    margin: 30px auto;
    width: 101%;
	}
	.superprodetext {
		color: white;
		margin-top: 340px;
		font-size: 20px;
		letter-spacing: 1px;
		margin-left: 8%;
		width: 89%;
	}
	.superprodetext {
		margin-top: 100px;
	}
	.superprodetext img {
		width: 172px;
		display: inherit;
		height: 49px;
	}
	.item3 h2 {
		font-size: 28px;
		text-align: left;
		color: white;
		margin-top: 80px;
		letter-spacing: 2px;
	}
	.item3 img {
		width: 62%;
	}
	.item3text .text {
		font-size: 13px;
		line-height: 21px;
		margin: 5px auto;
	}
	.item3text {
		margin-top: 5px;
	}
	.item3text div {
		letter-spacing: 2px;
		font-size: 17px;
	}
	.item3text div span img {
		width: 16px;
		height: 16px;
		margin: 3px 5px 5px 0;
	}
	.item3text div {
		letter-spacing: 2px;
		font-size: 17px;
	}
	.about {
		color: #fff;
		margin: 0 auto;
		text-align: center;
	}
	.screentext {}
	screentext h3 {
		font-size: 21px;
	}
	.about h2 {
		padding-top: 170px;
		letter-spacing: 5px;
		font-size: 28px;
	}
	.about p {
		line-height: 34px;
		font-size: 17px;
		letter-spacing: 0px;
		margin: 50px auto;
	}
}

#loading {
	position: relative;
	z-index: 10000;
	background-color: #12041c;
	width: 100%;
	height: 100%;
	-webkit-animation: last 1s ease-in-out;
	-o-animation: last 1s ease-in-out;
	animation: last 1s ease-in-out;
	animation-delay: 2s;
}

@keyframes last {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#line {
	z-index: 99;
	border: 0.5px solid #fff;
	width: 100%;
	height: 0.5px;
	background-color: #fff;
	/*box-shadow: 0 0 6px #fff;*/
	position: relative;
	top: 50%;
	-webkit-animation: line 1s ease-in-out;
	-o-animation: line 1s ease-in-out;
	animation: line 1s ease-in-out;
}

@keyframes line {
	0% {
		width: 0;
		opacity: 0;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}

#up-color {
	position: relative;
	width: 100%;
	height: 0%;
	top: 50%;
	background-color: #000;
	-webkit-animation: up-color 1s ease-in-out;
	-o-animation: up-color 1s ease-in-out;
	animation: up-color 1s ease-in-out;
	animation-delay: 1s;
}

@keyframes up-color {
	0% {
		height: 0%;
		top: 50%;
	}
	100% {
		height: 50%;
		top: 0%;
	}
}

#down-color {
	position: relative;
	width: 100%;
	height: 0%;
	top: 50%;
	background-color: #000;
	-webkit-animation: up-color 1s ease-in-out;
	-o-animation: up-color 1s ease-in-out;
	animation: up-color 1s ease-in-out;
	animation-delay: 1s;
}

@keyframes down-color {
	0% {
		height: 0%;
		top: 50%;
	}
	100% {
		height: 50%;
		top: 100%;
	}
}

.list {
	-webkit-animation: none 1s ease-in-out;
	-o-animation: none 1s ease-in-out;
	animation: none 1s ease-in-out;
	animation-delay: 1.5s;
}

@keyframes list {
	0% {
		visibility: hidden
	}
	100% {
		visibility: visible;
	}
}

.section {
	width: 100%;
	height: 100vh;
}

.navbar-collapse .navbar-nav .actives {
	color: #5eb4eb;
}

.navbar-collapse .navbar-nav .actives>a {
	color: #ffffff;
}

.navbar-collapse .navbar-nav .actives>a:hover {
	color: #ffffff;
}