html,
html,
body {
  position: relative;
  height: 100%;
}
.navbar-collapse .navbar-nav > li > a {
  font-size: 16px;
}
body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.navbar {
  min-height: 70px;
}
#buy {
  color: #fff;
  background-color: #5eb4eb;
}
#buy:hover{
  background-color: #67c3fc;
}
#buy:active{
  background-color: #54a6d8;
}
#navbar-menu ul .actives {
  color: #5eb4eb;
}
#navbar-menu ul .actives a {
  color: #5eb4eb;
}
.swiper-container {
  width: 100%;
  height: 67%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-container .swiper-wrapper .item1 {
  background-image: url("../img/banner1.png");
  background-size: 100% 100%;
  background-position: center;
}
.swiper-container .swiper-wrapper .item2 {
  background-image: url("../img/banner2.png");
  background-size: 100% 100%;
  background-position: center;
}
.swiper-container .swiper-wrapper .item3 {
  background-image: url("../img/banner3.png");
  background-size: 100% 100%;
  background-position: center;
  color: #e29e29;
}
.super-power {
  margin-top: 60px;
}
.super-power .container .row .content {
  margin: 15px 0;
  padding: 10px auto;
  display: inline-block;
}
.super-power .container .row .content .items-img {
  width: 100px;
  height: 100px;
  float: left;
}
.super-power .container .row .content .items {
  margin-left: 10px;
  font-size: 18px;
  float: left;
  position: relative;
}
.super-power .container .row .content .items p{
  width: 220px;
  position: absolute;
}
.super-power .container .row .content .items .title {
  top:0px;
  left:0;
  color: #333333;
}
.super-power .container .row .content .items .detail {
  top: 70px;
  left: 0;
  color: #666666;
  font-size: 16px;
  cursor: pointer;
}
.super-power .container .row .content .items .detail a{
  color: #666666;
  text-decoration: none;
}
.super-power .container .row .content .items .detail a:hover{
  color: #0071b8;
}
.super-power .container .row .content .items .detail a:active{
  color: #1a50a3;
}
.wechat .container .row .bg {
  margin: auto;
  height: 140px;
  background-color: #eeeeee;
}
.wechat .container .row .bg .detail {
  text-align: center;
  height: 100%;
  line-height: 140px;
}
.wechat .container .row .bg .detail img {
  display: inline-block;
  vertical-align: middle;
}
.wechat .container .row .bg .detail .guanzhu {
  display: inline-block;
  color: #333333;
  font-size: 20px;
}
.footer{
  padding: 0 0 40px 0;
}
.footer footer span{
  font-size: .9em;
  color: #999;
}
.footer li{
  list-style-type: none;;
}
.footer li h4{
  font-size: 1em;
  padding: 0 0 1em 0;
  color: #646464;
}
.footer li a{
  display: inline-block;
  font-size: .9em;
  line-height: 2;
  text-decoration: none;
  color: #999;
}
.footer li a:hover{
  text-decoration: none;
  color:#1a50a3;
}
.footer-content div section{
  margin-top:50%;
}
.footer-content  .last-one{
  border-left:1px solid #999;
}
.footer-content  .last-one li:nth-of-type(2)>a{
  color:#1a50a3;
  font-size: 1.4em;
}
.footer-footer{
  padding: 1em 0 ;
  color: #646464;
}
.footer-footer a{
  text-decoration: none;
  font-size: 1em;
  color:#999;
}
.footer-footer a:hover{
  text-decoration: none;
  color:#1a50a3;
}
.footer-header{
  text-align: center;
  margin-bottom: 10px;
  padding: 1.4em 0;
  color: #999;
  border-bottom:1px solid #999;
}
.footer-header a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.footer-header a:hover{
  text-decoration: none;
  color:#1a50a3;
}
.footer-header div+div{
  border-left: 1px solid #999;
}
.footer .setmargin>div{
  margin-bottom: 10px;
}
.footer .container .row div {
  font-size: 16px;
}
.footer .container .row .time {
  text-align: right;
  color: #999999;
}
.footer .container .row .tel {
  text-align: right;
  letter-spacing: 1px;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
}
.footer .container .row .online {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  float: right;
  color: #A9CDF8;
  border: 1px solid #A9CDF8;
}
.service {
  margin-top: 60px;
}
.service .container .row .list div {
  color: #333333;
  font-size: 16px;
  line-height: 60px;
  padding-left: 70px;
}
.service .container .row .list div:nth-child(2) {
  border-top: 0.5px solid #dddddd;
  border-bottom: 0.5px solid #dddddd;
}
.service .container .row .panel {
  display: none;
}
.service .container .row .panel .paragraph {
  margin: 30px;
}
.service .container .row .panel .paragraph .item {
  line-height: 20px;
  border-bottom: 0.5px solid #dddddd;
}
.service .container .row .panel .paragraph .item i {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #60afe6;
  display: inline-block;
  margin-right: 5px;
}
.service .container .row .panel .paragraph .item p {
  display: inline-block;
}
.service .container .row .panel .paragraph .item img {
  float: right;
}
.service .container .row .panel .paragraph .bg {
  padding: 10px 0;
  display: none;
}
.service .container .row .panel .paragraph .bg .texts {
  color: #666666;
  background-color: #f5f5f5;
  padding: 10px;
}
.service .container .row .to_active {
  display: block;
}
.contactus-img{
  background: url(../img/contactus.jpg) no-repeat center/100% 100%;
  width: 100%;
  height:26vw;
}
.aftersale-img{
  background: url(../img/aftersale.jpg) no-repeat center/100% 100%;
  width: 100%;
  height:26vw;
}
.aboutus-img{
  background: url(../img/aboutus.jpg) no-repeat center/100% 100%;
  width: 100%;
  height:26vw;
}
.bg_img {
  margin-top: 60px;
}
.bg_img img {
  width: 100%;
  height: auto;
}
.about .container .row .list div {
  color: #333333;
  font-size: 18px;
  line-height: 60px;
  padding-left: 70px;
}
.about .container .row .list div:nth-child(2) {
  border-top: 0.5px solid #dddddd;
  border-bottom: 0.5px solid #dddddd;
}
.about .container .row .panel {
  display: none;
  padding: 10px;
}
.about .container .row .panel .title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}
.about .container .row .panel .txt {
  line-height: 30px;
}
.about .container .row .panel .roadmap {
  display: flex;
}
.about .container .row .panel .roadmap .box1 {
  flex: 2;
}
.about .container .row .panel .roadmap .box1 .first {
  text-align: right;
}
.about .container .row .panel .roadmap .box1 .month {
  text-align: right;
  line-height: 40px;
  line-height: 20px;
  margin-top: 29px;
}
.about .container .row .panel .roadmap .box2 {
  flex: 1;
}
.about .container .row .panel .roadmap .box2 img {
  margin-left: 13px;
}
.about .container .row .panel .roadmap .box3 {
  flex: 15;
}
.about .container .row .panel .roadmap .box3 img {
  display: block;
  transform: translateY(-13px);
  margin-bottom: 10px;
}
.about .container .row .panel .roadmap .box3 .chat {
  transform: translateY(-9px);
}
.about .container .row .to_active {
  display: block;
}
.recruit .top {
  margin-top: 57px;
}
.recruit .top .logo {
  margin: 15px;
  width: 125px;
  height: 58px;
}
.recruit .top img {
  width: 100%;
  height: auto;
}
.recruit .partner {
  margin-top: 60px;
  color: #0078c5;
  font-size: 28px;
  text-align: center;
}
.recruit .part_detail {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #333333;
  line-height: 35px;
}
.recruit .part_detail span {
  color: #0078c5;
}
.recruit .block {
  margin-top: 30px;
  width: 100%;
}
.recruit .block .yuan {
  width: 80px;
  height: 80px;
  margin-left: 50%;
  margin-bottom: -30%;
  transform: translate(-50%, -50%);
}
.recruit .block img {
  width: 100%;
}
.recruit .block .block_text {
  padding: 10px;
  color: #7c7770;
  line-height: 25px;
  min-height: 125px;
  border: solid 1px #e1e1e1;
  border-radius: 5px;
}
.recruit .block .block_text .block_title {
  color: #333333;
  text-align: center;
  font-size: 16px;
  margin: 5px;
}
.recruit .middle .container .row .title1 {
  margin: 125px 0 40px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.recruit .middle .container .row .title1_detail {
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.recruit .support .container .block_det {
  color: #0073bb;
  font-size: 18px;
  text-align: center;
  margin: 40px 0;
}
.recruit .support .container .block_btn {
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  margin: 0 auto 50px;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(-45deg, #0071b8 0%, #0093f1 100%);
}
.friend .container .row .txts {
  margin: 100px auto 30px;
}
.friend .container .row .txts .txt1 {
  color: #fff;
  font-size: 28px;
  margin: 30px;
  text-align: center;
}
.friend .container .row .block_btn {
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  margin: 0 auto 50px;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(-45deg, #0071b8 0%, #0093f1 100%);
}
.recruit .support .container .block_btn:hover,
.friend .container .row .block_btn:hover{
  background-image: linear-gradient(-45deg,#0382d1 0%, #19a7ff 100%);
}
.recruit .support .container .block_btn:active,
.friend .container .row .block_btn:active{
  background-image: linear-gradient(-45deg, #035f99 0%, #0480ce 100%);
}
.alerts {
  width: 300px;
  height: 150px;
  background-color: #8dc6ea;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 999;
}
.alerts img {
  width: 20px;
  float: right;
  margin: 10px 20px;
  opacity: 1;
}
.alerts .wait {
  padding-left: 100px;
  line-height: 150px;
  font-size: 22px;
}
.contact {
  transform: translateY(-30px);
}
.active {
  border-left: 4px solid #60afe6;
  background-color: #fff;
  font-weight: 600;
}
.joinus-img{
  background: url(../img/joinus.jpg) no-repeat center/100% 100%;
  height: 26vw;
  margin-top: -70px;
}

.xinwen .titles {
  font-size: 26px;
  text-align: center;
  margin: 80px 0 20px;
  letter-spacing: 2px;
}
.xinwen article h4{
  line-height: 4;
}
.xinwen .titles a,
.xinwen .titles a:hover {
  text-decoration: none;
  cursor: pointer;
}
.xinwen .small_title {
  font-size: 22px;
  text-align: center;
  margin: 10px 0;
  letter-spacing: 1px;
  font-weight: 400;
}
.xinwen .zhushi {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}
#joinus h4{
  text-align: center;
  color:#414040;
}
#joinus .titles{
  font-size: 1.6em;
  color:#414040;
}
#joinus p{
  padding: 0 22em;
  color: #646464;
  line-height: 2;
}
#joinus p:last-of-type{
  text-align: center;
}
@media screen and (max-width: 768px) {
  .cook_titles {
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-top: 175px;
    color: #fff;
  }
  .cooks1 {
    font-size: 20px;
    letter-spacing: 7px;
    margin-left: 8%;
    color: #fff;
    margin-top: 5%;
    margin-bottom: 10px;
  }
  .cooks2 {
    font-size: 20px;
    letter-spacing: 7px;
    margin-left: 12%;
    margin-top: 20px;
    color: #fff;
    margin-bottom: 10px;
  }
  .cooks3 {
    font-size: 20px;
    letter-spacing: 7px;
    margin-left: 16%;
    color: #Fff;
    margin-top: 23px;
    margin-bottom: 10px;
  }
  .cook_title {
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 175px;
  }
  .cook1 {
    font-size: 20px;
    letter-spacing: 7px;
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 10px;
  }
  .cook2 {
    font-size: 20px;
    letter-spacing: 7px;
    margin-left: 22%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .cook3 {
    font-size: 20px;
    letter-spacing: 7px;
    margin-left: 22%;
    margin-top: 23px;
    margin-bottom: 10px;
  }
  .tanzhen1 {
    width: 49%;
    display: block;
    margin: 45px auto;
  }
  .tanzhen2 {
    width: 50%;
    display: block;
    margin: 11px auto 40px;
  }
  .tanzhen_btn {
    width: 213px;
    margin: 0 auto;
  }
  .tanzhen_btn a {
    display: block;
    width: 213px;
    height: 40px;
    background-color: #0cb9f2;
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
  }
  .tanzhen_btn a:hover{
    background-color: #1bc5fd;
  }
  .tanzhen_btn a:active{
    background-color: #0ba5d8;
  }
  .new_text {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 31px;
    color: #777;
    text-indent: 2em;
  }
  .xinwen img {
    margin: 15px auto;
    display: block;
    width: 323px;
  }
  .wechat .container .row .bg .detail .guanzhu {
    display: inline-block;
    color: #333333;
    font-size: 14px;
  }
  .about .container .row .panel .roadmap .box3 .chat5 {
    display: none;
  }
  .about .container .row .panel .roadmap .box3 .chat4,
  .about .container .row .panel .roadmap .box3 .chat8 {
    margin-bottom: 2px;
  }
  .plan .map {
    position: relative;
  }
  .plan .map .time1 img {
    width: 60%;
    margin-left: 40px;
  }
  .plan .map .time_thing,
  .plan .map .time_left {
    font-size: 14px;
    color: #666666;
    margin: 10px 0 10px 40px;
  }
  .plan .line {
    position: absolute;
    width: 11%;
    top: -11px;
    left: 265px;
  }
  .plan .line1 {
    display: none;
  }
  .road img {
    width: 65%;
    margin: 30px auto 40px;
    display: block;
  }
  .work img {
    width: 65%;
    margin: 30px auto 40px;
    display: block;
  }
  .screen img {
    width: 65%;
    margin: 30px auto 40px;
    display: block;
  }
  .middle {
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-image: url("../img/people_bg2.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .top {
    width: 100%;
    height: 390px;
    background-image: url("../img/part1.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bao,
  .bao-left {
    text-align: center;
  }
  .bao .ming,
  .bao-left .ming {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-image: linear-gradient(-45deg, #0071b8 0%, #0093f1 100%);
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
  }
  .bao_text,
  .bao_text_left {
    width: 54%;
    text-align: center;
    margin: 10px auto;
    color: #FFFFFF;
  }
  .country img {
    width: 85%;
    margin: 18px auto 13px;
    display: block;
  }
  .city {
    width: 100%;
    height: 600px;
    margin-top: 60px;
    background-image: url(../img/people_bg3.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .friend {
    background-size: auto 100%;
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-image: url("../img/people_bg4.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-container {
    width: 100%;
    height: 72%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-container .swiper-wrapper .item1 {
    background-image: url("../img/banner1.png");
    background-size: auto 100%;
    background-position: right;
  }
  .swiper-container .swiper-wrapper .item2 {
    background-image: url("../img/banner2.png");
    background-size: auto 100%;
    background-position: -1000px;
  }
  .swiper-container .swiper-wrapper .item3 {
    background-image: url("../img/banner3.png");
    background-size: auto 100%;
    background-position: right;
  }
  .new .container .row .creat .plane {
    margin-top: 60px;
    width: 100%;
    position: relative;
  }
  .new .container .row .creat .plane img {
    width: 100%;
  }
  .new .container .row .creat .plane p {
    position: absolute;
    bottom: 10px;
    font-size: 24px;
    color: #fff;
    margin-left: 20px;
  }
  .new .container .row .news {
    margin: 15px 0;
  }
  .new .container .row .news img {
    width: 100%;
    height: 100%;
  }
  .new .container .row .news .title {
    color: #0078c5;
    font-size: 18px;
  }
  .new .container .row .news .before {
    color: #999999;
    font-size: 16px;
  }
  .new .container .row .social {
    margin: 30px 0;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-left: 4px solid #A9CDF8;
    border-bottom: 2px solid #dddddd;
  }
  .new .container .row .contact {
    margin: 10px;
    display: inline-block;
    padding-bottom: 20px;
  }
  .new .container .row .contact .text {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .cook_title {
    font-size: 42px;
    letter-spacing: 2px;
    margin-left: 250px;
    margin-top: 170px;
  }
  .cook1 {
    font-size: 24px;
    letter-spacing: 7px;
    margin-left: 28%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cook2 {
    font-size: 24px;
    letter-spacing: 7px;
    margin-left: 32%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cook3 {
    font-size: 24px;
    letter-spacing: 7px;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cook_titles {
    font-size: 42px;
    letter-spacing: 2px;
    margin-left: 28px;
    margin-top: 173px;
    color: #fff;
  }
  .cooks1 {
    font-size: 24px;
    color: #fff;
    letter-spacing: 7px;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cooks2 {
    font-size: 24px;
    color: #fff;
    letter-spacing: 7px;
    margin-left: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cooks3 {
    font-size: 24px;
    color: #fff;
    letter-spacing: 7px;
    margin-left: 19%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .food {
    color: #fff;
    font-size: 30px;
    text-align: right;
    margin: 100px 0 40px;
    letter-spacing: 2px;
  }
  .food_text {
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    text-align: right;
    margin: 10px 0;
  }
  .tanzhen1 {
    width: 69%;
    margin: 90px;
  }
  .tanzhen2 {
    width: 63%;
    display: block;
    margin: 115px auto 50px;
  }
  .tanzhen_btn {
    width: 213px;
    margin: 0 auto;
  }
  .tanzhen_btn a {
    display: block;
    width: 213px;
    height: 40px;
    background-color: #0cb9f2;
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
  }
  .tanzhen_btn a:hover{
    background-color: #1bc5fd;
  }
  .tanzhen_btn a:active{
    background-color: #0ba5d8;
  }
  .new_text {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 38px;
    color: #777;
    text-indent: 2em;
  }
  .xinwen img {
    margin: 15px auto;
    display: block;
  }
  .about .container .row .panel .roadmap .box3 .chat8 {
    display: none;
  }
  .line {
    display: none;
  }
  .plan .map {
    position: relative;
  }
  .plan .map .times {
    display: flex;
  }
  .plan .map .times .time_thing {
    color: #666666;
    font-size: 16px;
    margin-top: 10px;
    text-align: right;
    margin-right: 62px;
  }
  .plan .map .times .time_left {
    color: #666666;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 37px;
  }
  .plan .map .times .time1 {
    flex: 1;
  }
  .plan .map .times .time1 img {
    width: 50%;
  }
  .plan .map .times .kuai1 img {
    margin-left: 230px;
    margin-top: 24px;
  }
  .plan .map .times .kuai2 img {
    margin-left: 40px;
    margin-top: 35px;
  }
  .plan .map .times .kuai3 img {
    margin-left: 230px;
    margin-top: 39px;
  }
  .plan .map .times .to_time {
    flex: 1;
  }
  .plan .map .line1 {
    width: 9%;
    position: absolute;
    top: 11px;
    left: 522px;
  }
  .road img {
    width: 30%;
    margin: 30px auto 40px;
    display: block;
  }
  .work img {
    width: 30%;
    margin: 30px auto 40px;
    display: block;
  }
  .screen img {
    width: 25%;
    margin: 30px auto 40px;
    display: block;
  }
  .middle {
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-image: url("../img/people_bg2.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .top {
    width: 100%;
    height: 420px;
    background-image: url("../img/people_bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bao {
    text-align: right;
  }
  .bao .ming {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-image: linear-gradient(-45deg, #0071b8 0%, #0093f1 100%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    display: inline-block;
  }
  .bao_text {
    margin: 20px 0;
    text-align: right;
    color: #FFFFFF;
  }
  .bao-left {
    text-align: left;
  }
  .bao-left .ming {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-image: linear-gradient(-45deg, #0071b8 0%, #0093f1 100%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    display: inline-block;
  }
  .bao_text_left {
    margin: 20px 0;
    text-align: left;
    color: #FFFFFF;
  }
  .country img {
    width: 40%;
    margin: 30px auto 30px;
    display: block;
  }
  .city {
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-image: url(../img/people_bg3.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .friend {
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-image: url("../img/people_bg4.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .new .container .row .creat {
    padding-right: 0;
  }
  .new .container .row .creat .plane {
    margin-top: 60px;
    width: 100%;
    position: relative;
  }
  .new .container .row .creat .plane img {
    width: 100%;
  }
  .new .container .row .creat .plane p {
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    color: #fff;
    margin-left: 20px;
  }
  .new .container .row .news {
    margin: 15px 0;
    padding-right: 0;
  }
  .new .container .row .news img {
    width: 100%;
    height: 100%;
  }
  .new .container .row .news .title {
    color: #0078c5;
    font-size: 18px;
  }
  .new .container .row .news .before {
    color: #999999;
    font-size: 16px;
  }
  .new .container .row .social {
    margin-top: 80px;
    margin-bottom: 30px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-left: 4px solid #A9CDF8;
    border-bottom: 2px solid #dddddd;
  }
  .new .container .row .contact {
    margin: 20px;
  }
  .new .container .row .contact .img {
    margin: 10px;
    display: inline-block;
  }
  .new .container .row .contact .text {
    font-size: 20px;
    display: inline-block;
  }
}
